{#
/**
 * @file
 * Default theme implementation to display a tooltip widget.
 *
 * Available variables:
 * - element: Form element for the testimonial carousel items.
 * - attributes: HTML attributes for the containing element.
 * - text: The text field value
 *
 * @see template_preprocess_text_tooltip()
 *
 * @ingroup themeable
 */
#}
<p {{ attributes }} title='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque mauris massa, eleifend vitae dolor in, lacinia venenatis ligula.'>{{ text }}</p>